.clients{
    padding-top: 94px;
    background-color: $button-text;
    padding-bottom: 94px;
  }
        .client__hero {
          margin: auto;
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 36px;
          line-height: 42px;
          text-align: center;
          letter-spacing: 0.03em;
          color: $secondary-text-color;
          padding-bottom: 50px;
        }
        .clients__nav {
          display: flex;
        }
       /* .clients-list {
        margin-right: 30px;
       } */
        .clients__icon {
          display: flex;
          width: 170px;
          height: 92px;
          border: 1px solid #AFB1B8;
          border-radius: 4px;
          align-items: center;
          justify-content: center;
          fill: $icons-color;
          margin-right: 30px;
          transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
          border 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
        }
        .nav-icon {
          width: 106px;
          height: 60px;
        }
         .clients__icon:hover {
          border:1px solid $accent-color;
          fill: $accent-color;
          /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
        }