.container-footer {
  display: flex;
  align-items: baseline;
}
.adress a {
font-style: normal;
}

.footer-webstudio {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 26px;
line-height: calc(31 / 26);
letter-spacing: 0.03em;
}


a.footer-webstudio {
display: block;
margin-bottom: 20px;
}


.footer {
padding-top: 60px;
padding-bottom: 60px;

background-color: var(--hero-color);
}

.adress .adress-town {
display: block;

color: var(--button-text);

line-height: calc(24 / 14);
letter-spacing: 0.03em;

margin-bottom: 9px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress .adress-mail {
display: block;

color: rgba(255, 255, 255, 0.6);

line-height: calc(24 / 14);
letter-spacing: 0.03em;

margin-bottom: 9px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress .adress-tel {
color: rgba(255, 255, 255, 0.6);

line-height: calc(24 / 14);
letter-spacing: 0.03em;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-town:hover,
.adress-town:focus,
.adress-tel:hover,
.adress-tel:focus,
.adress-mail:hover,
.adress-mail:focus,
.adress:hover {
color: var(--accent-color);
/* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.address {
display: flex;
}
.adress-footer {
display: block;
}
.footer-link__title {
display: inline-block;

margin-bottom: 20px;

font-family: "Raleway", sans-serif;
font-weight: 700;
font-style: normal;
line-height: calc(16 / 14);
letter-spacing: 0.03em;
text-transform: uppercase;

color: #ffffff;

}


.footer-link__img{
width: 44px;
height: 44px;
background: rgba(255, 255, 255, 0.1);
border-radius: 50%;
margin-right: 10px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: block;

}

.border-color {
margin: 12px;
fill: var(--button-text);
transition: backgroud-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link__img:hover{
background-color: var(--accent-color);
}

.footer-link__list{
display: flex;

}

.footer-link  {
margin-left: 70px;
}
.footer-email {
display: block;
margin-left: 93px;
justify-content: space-evenly;
}
.footer-email__label {
color: var(--button-text);
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
display: flex;
margin-bottom: 20px;

}
.footer-email__input {
width: 358px;
height: 50px;
background-color:var(--hero-color);
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
outline-style: none;
display: flex;
justify-content: flex-end;
align-items: flex-end;
color:var(--button-text);
padding-left: 16px;
display: flex;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-email__form {
display: flex;
}
.footer-email__button {
width: 200px;
height: 50px;
background-color: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: var(--button-text);
display:flex; 
cursor: pointer;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
padding-left: 28px;
margin-left: 12px;
border: none;
}

.icon-send {
fill:var(--button-text);
padding-right: 10px;
}

.footer-input:hover {
border-color: var(--accent-color);
}