.header-title {
    background-color: #ffffff;
    border-bottom: 1px solid #ececec;
  }
  
  .header-title .container {
    border-width: 0 0 1px 0;
  }

  
  .link-webstudio {
  
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
  
    margin-right: 93px;
    padding-top: 20px;
    padding-bottom: 29px;
  }
  
  .logo-web {
    color: $accent-color;
  
    font-weight: 700;
  }
  
  .logo-studio {
    color: #000000;
  
    font-weight: 700;
  }
  
  .logo-studiow {
    color: $button-text;
  }
  
  .nav-studio,
  .nav-portfolio {
    display: flex;
    align-items: center;
  }
  
  .site-nav {
    display: flex;
  }
  
  .site-nav .item:not(:last-child) {
    margin-right: 50px;
  }
  
  .auth-nav {
    display: flex;
    margin-left: auto;
    text-align: center;
    justify-content: center;
  }
  
  .auth-nav .item:not(:last-child) {
    margin-right: 50px;
  }

  .icon-mail  {
    fill: currentColor;
    margin-right: 10px;
     
  }
  .icon-tel {
    fill: currentColor;
    margin-right: 10px;
  }
  .icon-mail:hover {
    fill: $accent-color;
  }
  
  .icon-tel:hover {
    fill: $accent-color;
  }
  .site-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color:$secondary-text-color;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .auth-nav .link {
    display: flex;
    color: $primary-text-color;
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .site-nav .current {
    color: $accent-color;
    position: relative;
  }

  .site-nav  .current::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    bottom: -1px;
    left: 0;
    border-radius: 4px; 
    /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
    
  }
  .site-nav  .current {
    &:hover::after , &:focus::after {
    opacity: 1;
    }
}
  .site-nav .current {
    color: $accent-color;
  }
 
  

  .item .link {
  &:hover , &:focus {
    color: $accent-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}